
// wp block embed responsive
.wp-block-embed-responsive {
	position: relative;
	margin: 26px auto;

	&:before {
		content: '';
		display: block;
		padding-top: 56.25%;
	}

	iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}