//Styles for visual editor mode
@import 'bourbon';
@import 'modularscale';

@import 'variables';
@import 'mixins';
@import 'mixins-typography';

//global utilities
@import 'utility/fonts';
@import 'utility/reset';
@import 'utility/text';


body {
	background-color: transparent;
	text-rendering: optimizeLegibility;
	color: var(--knd-color-base);
	@include knd-body-text();
}

#tinymce {
	margin: 10px 12px; 
	@include the-content();
	.gallery-caption {
		display: none;
	}
}
