/**
 * Gutenberg
 */

.editor-styles-wrapper {
	font-family: var(--knd-font-family-base);
	line-height: 1.55;
	font-weight: 400;

	background-color: var(--knd-page-bg-color);

	.block-editor-writing-flow {
		color: var(--knd-color-base);
	}

	.editor-post-title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--knd-color-headings);
		font-family: var(--knd-font-family-headings);
		font-weight: var(--knd-font-weight-headings);
	}

	.wp-block[data-align=full] {
		margin-left: -8px;
		margin-right: -8px;
	}

	p {
		a {
			text-decoration: none;
			outline: none;
			color: var(--knd-color-main);
			border-bottom: 1px solid var(--knd-color-main);
			transition: all .35s;

			:hover {
				color: var(--knd-color-main-active);
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
}

.knd-components {
	&-heading {

		$el: &;

		&__help {
			margin-bottom: 8px;
		}

		&__label {
			font-size: 12px;
			color: #757575;
			margin-bottom: 8px;

			& + #{$el}__help {
				margin-top: -5px;
			}
		}
	}

	.components-color-picker__inputs-toggle-wrapper {
		align-self: center;
	}
}

.knd-editor-block-card__description {
	padding: 0 16px 16px 60px;
	margin-top: -12px;

	&-alt {
		padding-left: 16px;
	}

	.dashicons {
		font-size: inherit;
		width: auto;
		height: auto;
		line-height: inherit;
		vertical-align: baseline;
	}
}

.knd-components-panel__body:not(.is-opened) {
	.components-base-control {
		display: none;
	}
}

.component-heading-links {
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	flex-direction: column;

	&:last-of-type {
		margin-bottom: 15px;
	}

	& + .component-heading-links {
		padding-top: 15px;
	}

	.block-editor-block-inspector & .components-base-control {
		margin-bottom: 0;
	}

	.components-button {
		margin-left: auto;
		margin-bottom: 10px;
		padding: 0
	}
}

