/**
 * Blocks
 */

@import 'variables';

// knd blocks
@import 'knd-blocks/common';

// wp blocks
@import 'wp-blocks/common';
@import 'wp-blocks/columns';
@import 'wp-blocks/embed';
@import 'wp-blocks/cover';
@import 'wp-blocks/media-text';
@import 'wp-blocks/table';
@import 'wp-blocks/image';
@import 'wp-blocks/gallery';
@import 'wp-blocks/separator';

// knd blocks
@import 'knd-blocks/buttons';
@import 'knd-blocks/carousel';
@import 'knd-blocks/section-links';

@import 'knd-blocks/hero';
@import 'knd-blocks/news';
@import 'knd-blocks/projects';
@import 'knd-blocks/partners';
@import 'knd-blocks/people';
@import 'knd-blocks/cta';
@import 'knd-blocks/info';
@import 'knd-blocks/cover';
@import 'knd-blocks/recommend';
@import 'knd-blocks/hint';
@import 'knd-blocks/donations';
@import 'knd-blocks/campaign';
@import 'knd-blocks/leyka-cards';
@import 'knd-blocks/events';

@import 'knd-blocks/color-palette';
@import 'knd-blocks/aligments';

//events
@import 'events/events';

.knd-page-title-disabled .page-content.container {
	padding-bottom: 0;
}

@media (min-width: 400px) {
	.page-content.container {
		width: initial;
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Block Align */
@media (min-width: 768px){
	.the-content .knd-block.alignfull,
	.knd-block-image.alignfull {
		margin-left: calc( ( ( 100vw - ( var(--knd-content-width) + var(--scroll-bar-width) ) ) / 2 ) * -1 );
		margin-right: calc( ( ( 100vw - ( var(--knd-content-width) + var(--scroll-bar-width) ) ) / 2 ) * -1 );
	}
}
@media (min-width: 1200px){
	.the-content .knd-block.alignwide,
	.wp-block-image.alignwide {
		margin-left: calc( ( ( var(--knd-medium-content-width) - var(--knd-content-width) ) / 2 ) * -1 );
		margin-right: calc( ( ( var(--knd-medium-content-width) - var(--knd-content-width) ) / 2 ) * -1 );
	}
}
@media (max-width: 767px){
	.the-content .knd-block.alignfull {
		margin-left: -30px;
		margin-right: -30px;
	}
}

/* Main column width */
.wp-block {
	max-width: var(--knd-content-width);
	box-sizing: border-box;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: var(--knd-medium-content-width);
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}

/* Content */
.the-content p strong a + a {
	margin-left: 1em;
}

.d-none {
	display: none !important;
}



/* BlockQuote */
.wp-block-quote {
	border-left: 0;
}


