.idea
*.iml
out
gen
.htaccess
.idea/
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/languages/
wp-content/plugins/
wp-content/themes/index.php
wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
/index.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
/_temp
/upd_root.sh
/upd_theme.sh
/wp-content/themes/kandinsky/bower_components
/wp-content/themes/kandinsky/node_modules
