.idea
*.iml
out
gen
.htaccess
.idea/
/_temp
/upd_root.sh
/upd_theme.sh
bower_components

node_modules
/kandinsky.sublime-project
/kandinsky.sublime-workspace
.DS_Store
_temp
debug.log

package-lock.json
