/** Donations **/

.leyka-campaign{

    .entry-header-full {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }

    .campaign-card {
        margin-bottom: $gut;
    }

    div[id*="leyka-pf-"].card-2col  {
        margin-bottom: $gut;

        @include for(medium-screens) {

        }

        @include for(large-screens) {
            margin-left: -96px;
            margin-right: -96px;
        }
    }

    div[id*="leyka-pf-"] {
        margin-top: $gut;
    }
}


//single fixes
div[id*="leyka-pf-bottom"] .bottom-form__button button,
div[id*="leyka-pf-"] .inpage-card__action button {
    border-radius: 0;
    max-width: 170px;
}

.leyka-js .leyka-pf-bottom,
.leyka-pf__module {
    border-radius: 3px;
}

div[id*="leyka-pf-"] .inpage-card__thumb {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


//history block
.single-leyka_campaign {
    .donation_history {
        margin: $gut 0;
    }
}
.donation_history {

    .all-link {
        border-bottom: 1px solid $color-border-normal;
        padding: $base/2 0;

        a {
            color: $color-link-three;
        }
    }
}

.ldl-item {
    border-bottom: 1px solid $color-border-normal;
    padding: $base/2 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    @include form-text();
    
    &:first-of-type {
        border-top: 1px solid $color-border-normal;
    }
    
    .amount {
        color: $color-text-black;
        flex: 1 0 auto;
        width: 25%;
        min-width: 80px;
    }
    
    .meta {
        flex: 1 1 auto;
        width: 75%;
        padding-left: 6px;
        color: $color-text-semi;
    }
}