/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	//font-size: 62.5%; //10px
	background-color: $color-white;	
}

body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;	
	@include knd-body-text();
	
	& > svg { display: none; }	
}

a {
	text-decoration: none;
	color: $color-link-three;
	transition: all 0.3s;
	
	&:visited { color: $color-link-three; }
	&:hover, &:focus, &:active {
		color: $color-link-two;
	}
}

p {
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	&:last-child { margin-bottom: 0; }	
}

p,ul,ol,dl,blockquote {
	@extend .break;
}

.svg-icon, .svg-pic {
	display: inline-block;
}

//title with normal weights
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/** Layout structure **/
// index
.heading {
	background: $color-white;
	padding: $base;
	text-align: center; 

    &.no-posts { display: none; }
}

.section-title {
	@include header-title(head_title);		
}

.cards-holder {
	padding-top: $gut;
	
	&.squared {
		background: transparent;
		padding-top: 0;
	}

    &.no-posts { padding-top: 0; }
}


.bottom-content {
	margin-bottom: $gut*2;
	
	.container-wide {
		background: $color-secondary;
		padding-top: $gut;
		padding-bottom: $gut;
	}
	
	.page-section:last-of-type { margin-bottom: 0; }
}







/** Social panel **/
.bottom-bar {    
	background: $color-bg-light;
	padding: $base*2.2 0 $base*1.8;
	color: $color-text-black;
		
	h5 {
		@include header-title();
		margin-bottom: $base/2;
	}
	
	.icons-label {
		@include for(medium-screens){
			display: none;
		}
		
		@include for(large-screens) {
			display: inline;
		}
	}
	
	.knd-social-links  {
	   padding-top:20px;
	   
	   li a {
	       width:42px;
	       height:32px;
	       padding:5px 0px;
	       
	       .svg-icon {
	           fill: $color-text-black;
	           width:24px;
	           height: 24px;
	       } 
	   }
	}
}




/** Footer **/
.site-footer {
    
	@include body-text(small);
	padding: 10px 0px 30px 0px;
	background: $color-bg-light;
	color: $color-text;
	
	a {
		color: $color-link-one;
		&:hover, &:focus, &:active {
			text-decoration: underline;
			color: $color-link-three;
		}
	}
	
	p {
	    hyphens: none;
		margin-bottom: $base/2;
		&:last-child { margin-bottom: 0; }
	}
	
	.copy {
	   padding-top: 27px;
	   color: $color-text-light;
	   @include knd-supersmall-text();
		a { 
		  white-space: nowrap;
		  color: $color-text-light; 
	    }
	}
	
	.widget-title {
	   display:none;
	}
	
	//layout
	.widget-area {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.widget-bottom {
		flex: 0 0 auto;
        width: calc(100% - 24px);
        padding-bottom: $gut;
		
		@include for(small-screens){			
            width: calc(50% - 24px);
		}
		
		@include for(medium-screens){
			&:nth-of-type(2),
			&:nth-of-type(3) {				
                width: calc(25% - 24px);
			}			
		}
		
		@include for(large-screens){			
            width: calc(33.3% - 24px);
			
			&.widget_nav_menu {				
                width: calc(17% - 24px);			
			}
			
            &:nth-of-type(2),
            &:nth-of-type(3) {
                width: calc(15% - 24px);
            }
            
            &:nth-of-type(2) {
                padding-left:$gut;
            }
		}
		
		&:nth-of-type(1){
		    .textwidget {
			     a {
                     @include knd-link-footerblack-text();
			         color: $color-text-black;
			     }
            }
		}
	}
	
	.hr {
		margin: 0;
		color: transparent;
		display: block;
		border-bottom: 1px solid rgba(0,0,0, 0.2);
		@include for(xxlarge-screens) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}	
	
	.button {
		@include button();
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		
		span {
			@include for(small-screens){ display: none; }
			@include for(medium-screens){ display: inline; }
			@include for(large-screens){ display: none; }
		}
	}
}

//columns
.sf-cols {	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 $gut/2;
	
	@include for(small-screens) {
		flex-flow: row nowrap;
	}
	
	@include for(xxlarge-screens) {
		margin: 0 -1*$gut/2;
	}
	
	.sf-cols-8 {
		flex: 1 0 auto;
		margin: 0 $gut/2;		
		width: calc(100% - 30px);
		
		@include for(small-screens) {
			flex: 1 1 auto;			
            width: calc(100% - 250px);
		}
		@include for(large-screens) {
			width: calc(75% - 30px);
		}
		
	}
	.sf-cols-4 {
		flex: 0 0 auto;
		margin: 0 $gut/2;
		width: calc(100% - 30px);
		
		@include for(small-screens) { width: 200px;	}
		
		@include for(large-screens) { width: calc(25% - 30px); }
	}
}

.te-st-bn {	
	position: relative;
	text-align: right;
	margin-top: $gut / 2;
	
	@include for(small-screens) {
	}
	
	.rdc-icon {
		display: inline-block;
		width: 103px;
		height: 42px;
		fill: rgba(0,0,0, 0.75);
	}
	
	a {
		display: block;
		width: 100px;
		height: 48px;
		padding-top: 4px;
		text-align: center;
		box-sizing: border-box;		
		transition: all 0.35s;
		
		&:hover, &:focus, &:active {
			.rdc-icon { fill:rgba(0,0,0, 1); }
		}
		
		position: absolute;
		top: 0;
		right: 0;
	}
		
	.support {
		
		font-size: 11px;
		line-height: 14px;
		margin-right: 110px;
		padding-top: 8px;
		color: rgba(0,0,0, 0.75);
		
		display:none;
        @include for(small-screens) {
            display: inline-block;
        }
	}
}

.main-content {
    overflow:hidden;
} 

.knd-homepage-widgets {
    
    border-top: 5px solid $color-border-dark;
    
    img {
        @include widget-content-style();
    }
    
    .textwidget {
        @extend .container;
        text-align:center;
        margin-bottom: $gut;
    }
}