/** == Modules == **/



/** WordPress gallery **/
.entry-content .gallery {
	margin-top: $gut;
	margin-bottom: $gut;
	
	&:first-child { margin-top: 0;}
	&:last-child { margin-bottom: 0;}
}

.gallery {
	@include clearfix;
	margin: 0 -4px;
	
	.gallery-caption { display: none; }
	
	.gallery-item {
		display: block;
		float: left;
		margin: 0;
	}
	
	.gallery-icon {
		padding: 4px;
		
		a {
			display: block;			
			transition: all 0.35s;
			
			&:hover {
				
			}
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}
}

$i: 1; //widths
@while $i < 10 {
  
  .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
   $i: $i + 1;
}


