/** Pages **/

.page-header {
	text-align: center;
	padding: $gut 0;
}

.page-title {
	@include knd-page-head();
}

.page-intro {
	margin-top: $gut;
	@include knd-head-large-text(); 
}

.page-content {

	.the-content {
		@include for(medium-screens) {
			padding-left: 17%;
			padding-right: 17%;
		}

		@include for(large-screens) {
			padding-left: 17.4%;
			padding-right: 17.4%;
		}
	}
}


