/** == Typography (_typo.scss) == **/
//Typography settings and mixins

$modularscale: (
    base: 11.5px,
    ratio: 1.333,

    440px: (
        base: 11.5px,
    ),
    768px: (
        base: 12px,
    ),
    1024px: (
        base: 13.5px,
    ),
);

@mixin body-text-not-used($mod: default) {
}

@mixin body-text-double($mod: default) {
    font-family: $body;
    font-weight: 400;
    letter-spacing: 0.02em;

    @if $mod == three {
        @include ms-respond(font-size, 3);
        line-height: 1.2;
    }
    @else {
        @include ms-respond(font-size, 2);
        line-height: 1.333;
    }
    
}

@mixin top-link($mod: default) {
    font-family: $body;
    line-height: 20px;
    text-transform: uppercase;

    @if $mod == top {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: .03em;
    }
    @else if $mod == small {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .03em;
    }
    @else {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .02em;
    }
    
}

@mixin menu-link() {
    font-family: $body;
    @include ms-respond(font-size, 2);
    font-weight: 400;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: .02em;
}

@mixin post-title($mod: default) {
    @include knd-head-card-text();

    @if $mod == bold {
        font-size: 1.11em;
        font-weight: 600; 
        line-height: 1.33;
    }
    @else if $mod == regular_card {
        @include ms-respond(font-size, 3);
        line-height: 1.15;
        font-weight: 600;
    }
    @else if $mod == intext {
        @include ms-respond(font-size, 2);
        line-height: 1.2;
        font-weight: 600;
    }
    @else if $mod == feature_card {
        @include ms-respond(font-size, 3);
        font-weight: 600;
    }
    @else if $mod == smaller {
        font-size: 1em;
        line-height: 1.33;
        letter-spacing: 0.03em;
        font-weight: 400;
    }
}

@mixin block-title($mod: default) {
    font-family: $body;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .03em;

    @if $mod == smaller {
        @include ms-respond(font-size, 2);
        font-weight: 600;
    }
    @else {
        @include ms-respond(font-size, 3);
        font-weight: 600;
    }

}

@mixin label-text($mod: default) {
    font-family: $body;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: .03em;
    @include ms-respond(font-size, 0);

    @if $mod == bold {
        font-weight: 600;
    }
    @else {
        font-weight: 400;
    }
}

@mixin small-text() {
    font-family: $body;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
}

@mixin term-title($mod: default) {
    font-family: $body;
    font-weight: 600;
    line-height: 1.01;

    @if $mod == secondary {
        @include ms-respond(font-size, 5);
    }
    @else {
        @include upto(small-screens) {
            font-size: 2.5em;
        }
        
        font-size: 3.2em;
        text-transform: uppercase;
        letter-spacing: .013em;
        line-height: 1.05;
    }
}

@mixin single-title() {
    font-family: $body;
    @include ms-respond(font-size, 4);
    font-weight: 600;
    line-height: 1.2;
}

@mixin form-text($mod : default) {
    font-family: $body;
    font-size: 1.45em;
    line-height: 1.2;
}

/* 
 * Kandinsky common typo
 *
 */


 
// headers
@mixin knd-head-main-text() {
    @include ms-respond(font-size, 2);
    font-family: $heading;
    line-height: 1.2;
    letter-spacing: .03em;
    font-weight: 800;
}

@mixin knd-head-large-text() {
    @include ms-respond(font-size, 3);
    font-family: $heading;
    line-height: 1.11;
    letter-spacing: .03em;
    font-weight: 800;
}

@mixin knd-head-exlarge-text() {
    @include ms-respond(font-size, 3);
    @include for(small-screens) {
        font-size: 36px;
    }
    font-family: $heading;
    line-height: 1.11;
    letter-spacing: .03em;
    font-weight: 800;
}

@mixin knd-head-exlarge-single-text() {
    @include ms-respond(font-size, 4);
    font-family: $heading;
    line-height: 1;
    letter-spacing: .03em;
    font-weight: 800;
}

@mixin knd-head-exlarge-arhive-text() {
    @include knd-head-exlarge-single-text();
    font-weight: 600;
}

@mixin knd-head-exlarge-intro-text() {
    @include ms-respond(font-size, 5);
    font-family: $heading;
    line-height: 1;
    letter-spacing: .03em;
    font-weight: 800;
}

@mixin knd-head-tiny-text() {
    font-size:16px;
    font-family: $body;
    line-height: 1;
    letter-spacing: 0.15em;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin knd-head-section-text() {
    @include ms-respond(font-size, 2);
    font-family: $body;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
}

@mixin knd-head-card-text() {
    @include ms-respond(font-size, 1);
    font-family: $heading;
    line-height: 1.25;
    letter-spacing: .01em;
    font-weight: 600;
}

@mixin knd-head-cardnoimage-text() {
    @include knd-head-card-text();
    @include ms-respond(font-size, 2);
}

//pages
@mixin knd-page-head(){
    @include ms-respond(font-size, 6);
    font-family: $body;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: .001em;
    text-transform: uppercase;
}

// body texts
@mixin knd-body-text() {
    @include ms-respond(font-size, 1);
    font-family: $body;
    line-height: 1.44;
    font-weight: 400;
 }

@mixin knd-subhead-text() {
    @include ms-respond(font-size, 0);
    font-family: $body;
    font-weight: 400;
    line-height: 1;
}

@mixin knd-supersmall-text() {
    font-family: $body;
    font-size: 11px;
    font-weight: 400;
}

@mixin knd-nav-text() {
    @include ms-respond(font-size, 0);
    font-family: $nav;
    font-weight: 400;
}

@mixin knd-lead-text() {
    @include ms-respond(font-size, 2);
    font-family: $body;
    font-weight: 400;
    line-height: 1.4;
}

// captions and links
@mixin knd-button-caption-text() {
    @include ms-respond(font-size, 1);
    font-family: $nav;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: .03em;
    font-weight: 400;
}

@mixin knd-button-bigcaption-text() {
    @include ms-respond(font-size, 2);
    font-family: $nav;
    text-transform: uppercase;
    font-weight: 600;
}

@mixin knd-link-lonely-text() {
    @include ms-respond(font-size, 0);
    font-family: $body;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: .03em;
    font-weight: 600;
}

@mixin knd-link-section-text() {
    @include ms-respond(font-size, 1);
    font-family: $body;
    line-height: 1.33;
    letter-spacing: .07em;
}

@mixin knd-link-footerblack-text() {
    @include ms-respond(font-size, 0);
    font-family: $body;
    font-weight:600;
}

@mixin knd-link-related-text() {
    @include ms-respond(font-size, 1);
    font-family: $body;
    line-height: 1;
    font-weight:400;
}

@mixin knd-link-terms-text() {
    @include ms-respond(font-size, 0);
    font-family: $body;
    line-height: 1.33;
    font-weight:600;
}

@mixin knd-link-paging-text() {
    @include ms-respond(font-size, 2);
    font-family: $nav;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.10em;
    line-height: 1.33;
}

@mixin about-name-text() {
}

@mixin col-head-text() {
}

@mixin col-body-text() {
}

@mixin col-link-text() {
}

@mixin section-head-text() {
}

@mixin card-head-text() {
}

@mixin card-date-text() {
}

@mixin footer-about-head-text() {
}

@mixin footer-about-sub-text() {
}

@mixin footer-link-text() {
}

@mixin footer-body-text() {
}

