/** Widgets **/


.widget {	
	margin-bottom: $gut;
	&:last-of-type { margin-bottom: 0; }
	
	& > h3, .widget-title {
		margin-bottom: $base;		
		@include header-title(widget);		
	}
	
	.textwidget {		
		p:last-child { margin-bottom: 0; }
		
		h5 {
			@include post-title(small_title);
			margin-bottom: $base;
			&:last-child { margin-bottom :0;}
		}
		
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
	}
		
	p { //temp		
		margin-bottom: $gut/2;
	}
	
	&.red {
		background: $color-link-three;
		padding: $gut/2;
		color: rgba(255,255,255, 0.98);
		h3, .widget-title, h5 { color: inherit; }
		
		a { color: $color-white; }
		
		.ghost-button {
			margin-top: $base;
			@include ghost-button(16px, $color-white, $color-link-three);
		}
		
		.button  {
			@include button(white);
		}
	}
	
	&.text-center {
		text-align: center;
	}
	
}

.widget_nav_menu, .widget-bottom ul.menu {
	@include nav-text();	
	li { margin-bottom: $base/2; }
	
	.hide-on-large & {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin: 0 18px 9px 0;
		}
	}
}

.donation_cta {
	margin-bottom: $gut*1.5;
	
	h3, .widget-title, h5 { color: inherit; }
	
	h5 {
		@include post-title(small_title);
		margin-bottom: $base;
		&:last-child { margin-bottom :0;}
	}
	
	
}


/** Page builder widgets **/


.tpl-page-fullwidth {
	overflow-x: hidden;
	position: relative;
}

.taxonomy-intro {
	overflow-x: hidden;
	position: relative;
}

//rows and widgets modifiers
.panel-grid {
	.container-extended  { //for string
		@include container-extended();		
	}
	
	.container-narrowed { // for widget in the center
		max-width: 900px;
		margin: 0 auto;
	}
	
	.no-bottom-margin.panel-cell-style .so-panel.widget { //no margin after widget
		margin-bottom: 0 !important;
	}
	
	.content-center { //center widget text
		text-align: center;
	}
	
	.colored-row { //grey row  of normal width
		padding: $gut;
		background: $color-secondary;
	}
	
	.colored-red { //grey row  of normal width
		padding: $gut;
		background: $color-link-three;
		color: $color-white;
		p,h1, h2, h3, h4, h5, h6, li, a {
			color: $color-white;
		}
	}
	
	.back-to-container div[class *= "so-widget-"]{ //widget limited to container width
		max-width: $page_cont;
		margin: 0 auto;
	}
}

.container-extended  {
    @include container-extended();
    padding-top: $gut * 1.8;
    padding-bottom: $gut*1.5;
}

//colored bg
.container-extended-colored {
	@include container-extended();
	background: $color-secondary;
	padding-top: $gut * 2 * 1.33;
	padding-bottom: $gut*1.5;
		
	a {
		color: $color-text-black;
		text-decoration: underline;
		&:hover, &:focus, &:active {
			color: $color-link-three;				
		}
	}	
}

//pictured bg
.container-extended-pictured {
	@include container-extended();
	padding-top: $gut*1.5;
	padding-bottom: $gut*1.5;
		
	.text-white {
		padding: $gut 0;
		
		h2 { color: $color-white; }
		color: $color-white;
		
		a {
			color: $color-white;
			text-decoration: underline;
			
			&:hover, &:focus, &:active {
				background: $color-link-one;				
			}
		}
		
		li:before {
			color: $color-white;
		}
	}
}

//cta
.container-cta {
	border-top: 6px solid $color-text-black;
	border-bottom: 6px solid $color-text-black;
	padding: $base 0;
	text-align: center;
	
	h4 { margin: 0; }
	h4 + p {
		margin-top: $base;
	}
}

.rdc-button,
.button {
	@include button();
}	

//section title
.pb-section-title {
	
	&.align-left {
		text-align: left;
	}
	
	&.align-right {
		text-align: right;
	}
	
	&.align-center {
		text-align: center;
	}
	
	h2, h3 {
		@include header-title(head_title);
		margin: 0 0 $base 0;
	}
	
	h4 {
		@include post-title();
		margin: 0;
	}

	h3 + h4 { margin-top: 1em; }
	
	&.page-header {
		padding-top: $gut;
		
		h3 {
			@include header-title(section);
		}
	}
	
}

.page-section {

    margin: 2*$base 0;

    &.knd-background-text.text {
        margin: 2*$base/3;
    }
}

.knd-quote {
    font-style: italic;
}

.knd-columns .markup-columns {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    //flex-wrap: wrap;

    .markup-column:not(:last-of-type) {
        margin-right: $base;
    }
}

.knd-recommend {

    font-style: italic;
    font-size: smaller;
    padding: $base/3;
    background-color: #f7f7af;
    margin: $base 0;
}


/* intro section */

//page with cards
.intro-head-image {
	@include vertical-image-header-fixed();
	@include container-extended();
	
	.tpl-pictured-bg {
	   background-position:none;
	   
	   @include for(medium-screens) {
	       background-position: 150px 25%;
       }
	}
	
	&.text-over-image {
		height: 400px;
        border-bottom: 5px solid $color-border-dark;
	
		@include for(small-screens) {
			height: 440px;
		}
		
		@include for(medium-screens) {
			height: 480px;
		}
		
		@include for(large-screens) {
			height: 580px;
		}
	}
}

.tpl-pictured-bg {
	width: 100%;
	height: 100%;
	background-color: $color-secondary;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.intro-head-content {
    
	.ihc-title {
        @include knd-head-large-text();
        color: $color-white;
	}
	
	.ihc-content:not(.text-over-color) {
		position: relative;
		margin-top: -40px;
		padding-bottom: $base;
	}
		
	p:last-child { margin-bottom: 0;}
	
	.md-4 {
		@include for(medium-screens) { text-align: right; }
		a { @include button();	}
	}
	
	&.has-button {
		.ihc-title {
		}
		.ihc-desc {
		}
	}
	
	&.text-over-image {
		height: 1px;
		
		.ihc-content {

            transform: translateY(-100%);
            width: 47%;
            
            @include for(medium-screens) {
                padding-bottom: $gut*2;
                margin-top: -15px;
                transform: translateY(-100%);
                width: 47%;
            }
    		
            color: $color-white;
            position: relative;
            
			& > a { 
			   display: block;
		    }
		}
		
		.ihc-title {
		    @include knd-head-large-text();
			
			span {
				display: inline-block;
			}
		}
		
		.ihc-desc {
			@include body-text();
			
			line-height: 1.33;
			color: $color-white;
			
			margin-top:$height_gap + 2px;
			
            @include for(medium-screens) {
                line-height: 1.33;
            }
		}
		
		.cta {
            @include button();
            margin-top: $height_gap + 8px;
		}
	}

    &.text-over-color {

        .ihc-content {
            padding: $base;
            margin: 0;

            & > a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .ihc-title {
            padding: 0;
            span {
                color: $color-text;
                display: inline-block;
                padding: 8px 0;
                margin-left: 8px;
            }
        }

        .cta {
            @include button();
            margin: $base 0;
        }

    }
}

.knd-background-text.background {
    @extended .intro-head-image;
}

.knd-background-text.text {
    @extended .intro-head-content;
}

// Button shortcode
.knd-button-section {

    display: flex;
    justify-content: center;
    align-items: center;

    .knd-btn .knd-button {
        @include button();
        margin-top: $base;
    }
}

.homepage-intro .intro-head-content .ihc-content {
	border-bottom: none;	
}

.intro-head-content + .mobile-sharing {
	margin-top: $base - 8px;
}

.so-panel.widget_nav_menu {
	
	ul {
		margin: 0;
	}
	
	li {
		list-style-type: none;
		&:before { display: none; }
	}
	
	a {
		display: inline-block;
		font-size: 1.2em;
		padding: 5px 12px;
		white-space: nowrap; 
	}
	
	.current-menu-item {
		a {
			background: $color-link-three;
			color: $color-white;
		}
	}
	
	.inpage-h-menu { 
		ul { margin-left: -12px; }
		
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			
			&.current-menu-item:first-child {
				margin-left: 12px;
			}
			
			a {
				padding: 5px 12px;
			}
		}		
	}
}

/* homepage widgets */
.knd-homepage-widgets {
    padding-top: $gut;
    
    @include for(medium-screens) {
        padding-top: $gut * 1.8;
    }
}

/* news widget */
.knd-news-widget {
    
    padding: 54px 0px 0px 0px;
    background: $color-bg-light;
    
    h2.section-title {
        @include knd-head-section-text();
    }
    
    .knd-news-widget-body {
        @include widget-content-style();
        padding-bottom: $gut * 1.17;
    }
    
}

/* .text widget */
.textwidget {
    @include widget-content-style();
}

/* ourorg widget */
.knd-ourorg-widget {
    display:none;
    @include for(medium-screens) {
        display:block;
    }
    
    @include widget-content-style();
    text-align:center;
    padding-bottom: $gut * 1.55;
    
    h2 {
        @include knd-head-tiny-text();
    }
    
    
    .knd-whoweare-headlike-text-wrapper {
        padding-top: $gut / (1.33 * 2);

        .knd-whoweare-headlike-text {
            @include knd-head-exlarge-text();
            hyphens: none;
            line-height: 1.1;
        }
    }
}

/* who we are */
.knd-whoweare-section {
    
    padding-bottom: 0px;
    @include for(medium-screens) {
        padding-bottom: 100px;
    }
    
    .whoweare-item {
    
        margin-bottom: $gut;
    
        @include for(medium-screens) {
            text-align:left;
            min-height:none;
        }
        
        h3 {
            @include knd-head-main-text();
        }
        
        p {
            padding-top: 15px;
            min-height: 76px;
            
            @include for(medium-screens) {
                min-height: 200px;
            }
            
            @include for(large-screens) {
                min-height: 146px;
            }
        }
        
        a {
            @include knd-link-lonely-text();
            display:inline-block;
            color: $color-text-black;
            border-bottom: 4px solid var(--knd-color-main);
            padding: 0px 0px 4px 0px;
            
            text-decoration:none;
            &:hover {
                text-decoration:none;
                border-color: var(--knd-color-main-dark);
            }
        }
    }
    
    .whoweare-item:last-of-type {
        a {
            border-color: var(--knd-color-second);
            &:hover {
                border-color: var(--knd-color-second-dark);
            }
        }
    }
}

/* join us bar */
.knd-joinus-widget {
    
    display:block;
    
    @extend .knd-ourorg-widget;
    background: var(--knd-color-second);
    padding-top: $gut * 1.22;
    padding-bottom: $gut * 1.35;
 
    h2 {
        letter-spacing: 0.1em;
    }
    
    .knd-whoweare-headlike-text-wrapper {
        justify-content: center;
        
        .knd-whoweare-headlike-text {
            line-height: 1.33;
            hyphens: none;
        }
    }
    
    .knd-cta-wrapper-wide {
        padding-top: 24px;
        
        a.cta {
            @include button();
            @include knd-button-bigcaption-text();
            padding: 16px 50px;
        }
    }
}

/* projects */
.knd-projects-widget {
    @extend .knd-news-widget;
    background: var(--knd-color-third);
    
    h2.section-title {
        color: $color-white;
    }
    
    .section-links {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $color-border-dark;
        padding-bottom: 15px;
        
        padding-top: 10px;
        @include for(medium-screens) {
            justify-content: flex-end;
            transform: translateY(-55%);
            padding-top: 0px;
        }
        
        a {
            @include knd-link-section-text();
            color: var(--knd-color-main-dark);
            
            margin-right: 20px;
            @include for(medium-screens) {
                margin-left: 44px;
                margin-right: 0px;
            }
            
            &:hover, &:focus, &:active {
                color: var(--knd-color-main);
            }
        }
    }
    
    .knd-news-widget-body {
        padding-bottom: 2px;
    }
}

/* partners */
.knd-partners-widget {
    @extend .knd-news-widget;
    padding-top: 56px;
    background: $color-white;
    
    .knd-news-widget-body {
        padding-top: 33px;
    }

    .tpl-org img {
        max-width: 180px;
        
        @include for(medium-screens) {
            max-width: 100%;
        }
    }
    
}