/* Breadcrumbs */
.knd-breadcrumbs {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	margin-bottom: 18px;

	.knd-container > &:first-child {
		margin-top: 32px;

		@media (min-width: 1200px){
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	.knd-separator {
		display: inline-block;
		margin: 0 7px;
		width: 1px;
		height: 9px;
		background-color: #c1c1c1;
		transform: rotate(30deg);
	}

	a {
		color: #989898;
		text-decoration: none;

		&:hover {
			color: var(--knd-color-base);
			text-decoration: none;
		}
	}
}
