/* Archive pages */
.knd-archive {
	&-description {
		padding-bottom: 20px;

		> * {
			margin-bottom: 0;
			margin-top: 0;
			padding: 0;

			&:not(:first-child) {
				margin-top: 1rem;
			}
		}

		a {
			color: var(--knd-color-main);
		}
	}
}