/** == Kandinsky-specific widgets (_builin.scss) == */
// Support for some core widgets in general widget area and in footer 


// Common styles
.button {
	@include button();
}	

.tpl-pictured-bg {
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.knd-homepage-sidebar {
    padding-top: $gut;
    
    @include for(medium-screens) {
        padding-top: $gut * 1.8;
    }
    
    body.home.plot-public-campaign & {
        background: var(--knd-color-main);
        color: $color-text;
    }
    
}

.knd-archive-sidebar {
    @extend .knd-homepage-sidebar;
    background: $color-bg-light;
    
    padding-top: $gut * 1.2;
}



// Recommendations 
.the-content .knd-recommend,
.knd-recommend {
    font-family: Arial, serif !important;
    font-style: italic;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: 14px;
    line-height: 1.45;
    color: #000;
    padding: $base*.5 $base*.75;
    background-color: #f7f7af;
    margin: $base 0;
    text-align: left !important;
}


// News widget 
.knd-news-widget {
    
    padding: 54px 0px 0px 0px;
    background: $color-bg-light;
    
    body.plot-public-campaign & {
        background: var(--knd-color-third);
    }
    
    h2.section-title {
        @include knd-head-section-text();
        color: $color-text;
    }
    
    .knd-news-widget-body {
        padding-top: $gut;
        padding-bottom: $gut/2;
    }
    
}

// Projects
.knd-projects-widget {

    @extend .knd-news-widget;
    background: var(--knd-color-third);
    
    body.plot-public-campaign & {
        background: var(--knd-color-third);
    }
    
    h2.section-title {
        color: $color-white;
    }
    
    .section-links {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $color-border-dark;
        padding-bottom: 15px;
        padding-top: 10px;

        @include for(medium-screens) {
            justify-content: flex-end;
            transform: translateY(-55%);
            padding-top: 0px;
        }
        
        a {
            @include knd-link-section-text();
            color: var(--knd-color-main-dark);
            
            margin-right: 20px;
            @include for(medium-screens) {
                margin-left: 44px;
                margin-right: 0px;
            }
            
            &:hover, &:focus, &:active {
                color: var(--knd-color-main);
            }
            
            body.plot-fundraising-org & {
                color: $color_text_white;
            }
            
        }
        
        body.plot-fundraising-org & {
            border-color: $color-border-light;
        }
        
    }

    .knd-news-widget-body {
        padding-top: $gut/2;
        padding-bottom: $gut/4;
    }
}



// About organization widget at homepage
.knd-ourorg-widget {
    display:none;
    @include for(medium-screens) {
        display:block;
    }
    
    text-align:center;
    padding-bottom: $gut * 1.55;
    
    h2 {
        @include knd-head-tiny-text();
        
        body.plot-public-campaign & {
            color: var(--knd-text2-color);
        }
        
        body.plot-fundraising-org & {
            color: var(--knd-color-third);
        }
    }
    
    .knd-whoweare-headlike-text-wrapper {
        padding-top: $gut / (1.33 * 2);

        .knd-whoweare-headlike-text {
            @include knd-head-exlarge-text();
            hyphens: none;
            
        }
    }
}


// Who we are
.knd-whoweare-section {
    
    padding-bottom: 0px;

    @include for(medium-screens) {
        padding-bottom: $gut*2;
    }
    
    .whoweare-item {
    
        position:relative;
        margin-bottom: 0px;
        padding-bottom: $gut * 1.2;

        @include upto(medium-screens) {
            margin-bottom: $gut;
        }
    
        @include for(medium-screens) {
            text-align:left;
            min-height: none;
        }
        
        h3 {
            @include knd-head-main-text();
            
            body.plot-fundraising-org & {
                color: var(--knd-color-third);
            }
        }
        
        p {
            padding-top: 15px;
            min-height: 76px;
            
            @include for(medium-screens) {
                min-height: 200px;
            }
            
            @include for(large-screens) {
                min-height: 146px;
            }
        }
        
        a {
            @include knd-link-lonely-text();
            display:inline-block;
            color: $color-page-text;
            border-bottom: 4px solid var(--knd-color-main);
            padding: 0px 0px 4px 0px;
            text-decoration:none;
            position:absolute;
            bottom:0px;
            left: 1px;
            
            &:hover {
                text-decoration:none;
                border-color: var(--knd-color-main-dark);
            }
            
            body.plot-public-campaign & {
            
                color: var(--knd-text2-color);
                border-color: var(--knd-text2-color);
                
                &:hover {
                    color: var(--knd-text2-color-dark);
                    border-color: var(--knd-text2-color-dark);
                }
            }
            
            body.plot-fundraising-org & {
            
                color: var(--knd-color-third);
                border-color: var(--knd-color-third);
                
                &:hover {
                    color: var(--knd-color-third-dark);
                    border-color: var(--knd-color-third-dark);
                }
            }
            
        }
    }
    
    .whoweare-item:last-of-type {
    
        h3 {
        
            body.plot-public-campaign & {
                color: var(--knd-text3-color);
            }
            
            body.plot-fundraising-org & {
                color: var(--knd-color-main);
            }
        }
    
        a {
            border-color: var(--knd-color-second);
            &:hover {
                border-color: var(--knd-color-second-dark);
            }
            
            body.plot-public-campaign & {
            
                color: var(--knd-text3-color);
                border-color: var(--knd-text3-color);
                
                &:hover {
                    color: var(--knd-text3-color-dark);
                    border-color: var(--knd-text3-color-dark);
                }
            }
            
            body.plot-fundraising-org & {
            
                color: var(--knd-color-main);
                border-color: var(--knd-color-main);
                
                &:hover {
                    color: var(--knd-color-main-dark);
                    border-color: var(--knd-color-main-dark);
                }
            }
        }
    }
}

// join us bar 
.knd-joinus-widget {
    
    display:block;
    
    @extend .knd-ourorg-widget;
    background: var(--knd-color-second);
    padding-top: $gut * 1.22;
    padding-bottom: $gut * 1.35;
    
    color: $color-text;
     
    h2 {
        letter-spacing: 0.1em;
        
        body.plot-public-campaign & {
            color: $color_text;
        }
        
        body.plot-fundraising-org & {
            color: $color_text_white;
        }
    }
    
    .knd-whoweare-headlike-text-wrapper {
        justify-content: center;
        
        .knd-whoweare-headlike-text {
            line-height: 1.33;
            hyphens: none;
            
            body.plot-public-campaign & {
                color: $color_text;
            }
            
            body.plot-fundraising-org & {
                color: $color_text_white;
            }
            
        }
    }
    
    .knd-cta-wrapper-wide {
        padding-top: 24px;
        
        a.cta {
            @include button();
            @include knd-button-bigcaption-text();
            padding: 16px 50px;
        }
    }
}


//  Partners 
.knd-partners-widget {
    @extend .knd-news-widget;
    padding-top: 56px;
    
    //background: $color-white;
    background: $color-page-bg;
    
    body.plot-public-campaign & {
        background: $color-white;
        
        h2.section-title {
            color: var(--knd-color-third);
        }
    }
    
    h2.section-title {
        color: $color-page-text;
    }
    
    .knd-news-widget-body {
        padding-top: 33px;
    }

    .tpl-org img {
        max-width: 180px;
        
        @include for(medium-screens) {
            max-width: 100%;
        }
    }
    
}



//  Team widget and shortcode 
.widget-full.widget_knd_team {
    max-width: $full_cont;
    padding-bottom: 0;
}

.knd-people-title {
    @include knd-head-exlarge-text();
    color: $color-text-black;
    margin-bottom: $inpage-margin-base;
    text-align: center;
}

.knd-people-gallery {
    margin-left: -24px;
    margin-right: -24px;

    .tpl-person {
        a {
            display: block;
            color: $color-text-black;
        }

        margin-bottom: 0;

        .entry-data {
            text-align: left;
            padding: 24px 0 0;
        }
    }
}


// Donations 
.knd-donations-widget {
    @extend .knd-news-widget;
    background: $color-page-bg; 
    
    .widget-full-title {
        text-align:center;
    }
     
    padding-top: $gut*.7;
    padding-bottom: $gut*.3;
}

.leyka-loop {
    .tpl-post {
        border: 1px solid $color-page-bg-dark;
        padding: $gut*.5 $gut*.54 $gut/2;
        
        @include for(small-screens) {
            padding: $gut * 1.08 $gut $gut/2;
        }

        @include for(medium-screens) {
            padding: $gut*.5 $gut*.54 $gut/2;
        }

        @include for(large-screens) {
            padding: $gut * 1.08 $gut $gut/2;
        }
        
        .help-purpose {
            @include knd-link-donation-purpose();
            color: var(--knd-color-main-dark);
            padding-top: $gut / 2;
        }
        
        .lk-title {
            @include knd-head-main-text();
            padding-top: $gut / 2.1;
            padding-bottom: 7px;
        }
        
        p {
            @include knd-card-text();
            padding-bottom: $gut;
        }
        
        .leyka-scale-scale {
            width: 100%;
            height: 7px;
            
            .target {
                height: inherit;
                background: $color-border-link;
                
                .collected {
                    height: inherit;
                    background: var(--knd-color-main);
                }
            }
        }
        
        .leyka-scale-label {
            @include knd-link-related-text();
            color: $color-page-text-light;
            
            .caption {
                @include knd-link-donation-purpose();
                padding-top: $gut / 3.8;
            }
            
            .sum {
                color: var(--knd-color-main);
            }
            
            .knd-campaign-needed .sum {
                color: $color-page-text;
            }
            
        }
        
        .leyka-scale-button-alone {
            text-align:right;
        }
        
        .leyka-scale-button-alone {
            a {
                @include button();
                @include knd-leyka-button-caption-text();
                margin-top:$gut / 1.4;
                padding: 10px 30px;

                @include for(small-screens) {
                    padding: 12px 33px;
                }
            }
        }
        
    }
    
}

