/** == Kandinsky-specific widgets (_builin.scss) == */
// Styles theme widgets in general widget area


// Common styles
.button {
	@include button();
}	

.tpl-pictured-bg {
	width: 100%;
	height: 100%;
	background-color: $color-page-bg-dark;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.knd-homepage-sidebar {
	position: relative;
}

// Donations
.knd-donations-widget {

	background: $color-page-bg; 
	
	.widget-full-title {
		text-align:center;
	}
	 
	padding-top: $gut*.7;
	padding-bottom: $gut*.3;
}

.leyka-loop {
	.tpl-post {
		border: 1px solid $color-page-bg-dark;
		padding: $gut*.5 $gut*.54 $gut/2;
		
		@include for(small-screens) {
			padding: $gut * 1.08 $gut $gut/2;
		}

		@include for(medium-screens) {
			padding: $gut*.5 $gut*.54 $gut/2;
		}

		@include for(large-screens) {
			padding: $gut * 1.08 $gut $gut/2;
		}
		
		.help-purpose {
			@include knd-link-donation-purpose();
			color: $color-main-dark;
			padding-top: $gut / 2;
		}
		
		.lk-title {
			@include knd-head-main-text();
			padding-top: $gut / 2.1;
			padding-bottom: 7px;
		}
		
		p {
			@include knd-card-text();
			padding-bottom: $gut;
		}
		
		.leyka-scale-scale {
			width: 100%;
			height: 7px;
			
			.target {
				height: inherit;
				background: $color-gray-light;
				
				.collected {
					height: inherit;
					background: $color-main;
				}
			}
		}
		
		.leyka-scale-label {
			@include knd-link-related-text();
			color: $color-text-light;
			
			.caption {
				@include knd-link-donation-purpose();
				padding-top: $gut / 3.8;
			}
			
			.sum {
				color: $color-main;
			}
			
			.knd-campaign-needed .sum {
				color: $color-text;
			}
			
		}
		
		.leyka-scale-button-alone {
			text-align:right;
		}
		
		.leyka-scale-button-alone {
			a {
				@include button();
				@include knd-leyka-button-caption-text();
				margin-top:$gut / 1.4;
				padding: 10px 30px;

				@include for(small-screens) {
					padding: 12px 33px;
				}
			}
		}
		
	}
	
}


