/** == Hero image at home (_hero.scss) == */
// Hero image seaction at homepage




@mixin container-extended() {
    margin: 0 -4.35%;
    position: relative;
    width: auto;
    
    & > div[id *="pl-"],
    & > div[class *="so-widget"] {
        max-width: $page_cont;
        width: 92%;
        margin: 0 auto;
    }
    
    $ex_cont_width_mq: $page_cont / 0.92 + 1px;
    @media screen and (min-width: $ex_cont_width_mq ) { 
        margin: 0 -1 * ($full_cont - $page_cont) / 2;   
    }
    
}

@mixin vertical-image-header-fixed(){
    //60vh;
    height: 360px;
    
    @include for(small-screens) {
        height: 400px;
    }
    
    @include for(medium-screens) {
        height: 460px;
    }
    
    @include for(large-screens) {
        height: 480px;
    }
}

/* hero image */
.intro-head-image {
    position: relative;
    z-index: 1;
    @include vertical-image-header-fixed();
    @include container-extended();
    
    .tpl-pictured-bg {
       background-position:none;
       
       @include for(medium-screens) {
           background-position: 150px 25%;
       }
    }
    
    &.text-over-image {
        height: 400px;
        
    
        @include for(small-screens) {
            height: 440px;
        }
        
        @include for(medium-screens) {
            height: 480px;
        }
        
        @include for(large-screens) {
            height: 580px;
        }

        .tpl-pictured-bg {
            position: relative;
            z-index: 1;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                z-index: 3;
                position: absolute;
                top: 0;
                left: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.32+0,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.8) 100%); 
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,.8) 100%); 
background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,.8) 100%); 
            }
        }
    }
}



.intro-head-content {
    z-index: 10;
    .ihc-title {
        @include knd-head-large-text();
        color: $color-white;
    }
    
    .ihc-content:not(.text-over-color) {
        position: relative;
        margin-top: -40px;
        padding-bottom: $base;
    }
        
    p:last-child { margin-bottom: 0;}
    
    .md-4 {
        @include for(medium-screens) { text-align: right; }
        a { @include button();  }
    }
    
    &.has-button {
        .ihc-title {
        }
        .ihc-desc {
        }
    }
    
    &.text-over-image {
        height: 1px;
        
        .ihc-content {

            transform: translateY(-100%);
            width: 47%;
            
            @include for(medium-screens) {
                padding-bottom: $gut*2;
                margin-top: -15px;
                transform: translateY(-100%);
                width: 47%;
            }
            
            color: $color-white;
            position: relative;
            
            & > a { 
               display: block;
            }
        }
        
        .ihc-title {
            @include knd-head-large-text();
            
            span {
                display: inline-block;
            }
        }
        
        .ihc-desc {
            @include knd-subhead-text();
            
            line-height: 1.33;
            color: $color-white;
            
            margin-top:$height_gap + 2px;
            
            @include for(medium-screens) {
                line-height: 1.33;
            }
        }
        
        .cta {
            @include button();
            margin-top: $height_gap + 8px;
        }
    }

    &.text-over-color {

        .ihc-content {
            padding: $base;
            margin: 0;

            & > a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .ihc-title {
            padding: 0;
            span {
                color: $color-page-text;
                display: inline-block;
                padding: 8px 0;
                margin-left: 8px;
            }
        }

        .cta {
            @include button();
            margin: $base 0;
        }

    }
}

.knd-background-text.background {
    @extended .intro-head-image;
}

.knd-background-text.text {
    @extended .intro-head-content;
}

.homepage-intro .intro-head-content .ihc-content {
    border-bottom: none;    
}

.intro-head-content + .mobile-sharing {
    margin-top: $base - 8px;
}
