/* columns */
.admin-tmb {
	width: 90%;
	max-width: 54px;
}

.admin-tmb img {
	max-width: 100%;
	height: auto;
}

.admin-tmb img[src$=".svg"] {
	display: block;
	width: 100%;
	height: auto;
}

.wp-list-table .column-author,
.wp-list-table .column-id,
.wp-list-table .column-thumbnail,
.wp-list-table .column-menu_order {
	width: 6%;
	vertical-align: middle;
}

.wp-list-table .column-attack_date,
.wp-list-table .column-event_date {
	width: 12.5%;
}

/*  dashboard */
#itv-dashboard-card {
	margin-bottom: 40px;
}

#itv-dashboard-card .itv-logo {
	width: 160px;
	height: 63px;
	margin-left: 9px;
	margin-bottom: 9px;
}

#itv-dashboard-card .itv-logo img {
	max-width: 100%;
	height: auto;
}

.rdc-dashboard .cols::after {
	clear: both;
	content: "";
	display: table;
}

.rdc-dashboard .col-logo {
	float: left;
	width: 50%;
}

.rdc-dashboard .col-logo a {
	display: block;
}

.rdc-dashboard .col-logo img {
	max-width: 100%;
	height: auto;
}

.rdc-dashboard .col-btn {
	float: right;
	width: 50%;
	text-align: right;
	padding-top: 5px;
}

.rdc-dashboard .col-btn a {
	margin-right: 5px;
}

.knd-dashboard .knd-logo a img {
	width: 100%;
}

.tst-error {
	border: 1px solid #DD3D36;
	border-left-width: 5px;
	padding: 8px;
	color: #DD3D36;
}

.cmb-repeat-group-wrap .cmb2-wrap > .cmb-field-list > .cmb-row,
.postbox-container .cmb2-wrap > .cmb-field-list > .cmb-row {
	padding: 0.5em 0;
	margin: 0;
}

.cmb2-wrap select {
	min-width: 50%;
}

.cmb2-wrap .cmb-td textarea {
	width: 100%;
}

/* NF */
#post-body-content .nf-field-settings span.description {
	display: block;
	font-size: 12px;
	margin-bottom: 0;
}

#post-body-content .nf-field-settings .description-thin {
	width: 100%;
}

#post-body-content .ninja-forms-field-list div[id*="show_desc"],
#post-body-content .ninja-forms-field-list div[id*="label_pos"] {
	display: none;
}

div [id*="ninja_forms_metabox"] .item-edit.metabox-item-edit {
	color: rgba(255, 255, 255, 0);
}

div [id*="ninja_forms_metabox"] .item-edit.metabox-item-edit:before {
	color: #a0a5aa;
}

.knd-message {
	overflow: hidden;
	position: relative;
	border-left-color: #2ea2cc !important;
}

.knd-message a.button-primary,
.knd-message a.button-secondary {
	text-decoration: none !important;
}

.knd-message a.knd-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

.knd-message a.knd-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	transition: all .1s ease-in-out;
}

.knd-dashboard h3#knd-metabox-subtitle {
	font-weight: 600;
	font-size: 14px;
}

.knd-dashboard .knd-metabox-line .action {
	display: -ms-flexbox;
	display: flex;
	padding: 0 8px;
	margin: 16px 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
}

.knd-dashboard .knd-metabox-line .action .dashicons {
	margin-right: 4px;
}

#wpadminbar #wp-admin-bar-kandinsky-main a {
	display: inline;
}

#wpadminbar #wp-admin-bar-kandinsky-main .knd-adminbar-notif {
	border-radius: 50%;
	color: #fff;
	display: inline;
	padding: 1px 7px 1px 6px !important;
}

.wplink-autocomplete {
	z-index: 500510 !important;
	/* originally 100110, but z-index of .wp-full-overlay is 500000 */
}

#wp-link-backdrop {
	z-index: 500550 !important;
	/* originally 100100, but z-index of .wp-full-overlay is 500000 */
}

#wp-link-wrap {
	z-index: 500555 !important;
	/* originally 100105, but z-index of .wp-full-overlay is 500000 */
}

.widget-inside {
	z-index: 2;
}

li[id^="customize-control-widget_knd_cta-"] .widget-content {
	min-height: none;
	height: 100px;
}

#adminmenu .toplevel_page_remove-kandinsky-theme,
#adminmenu .toplevel_page_update-kandinsky-theme {
	display: none;
}

div.knd-metabox-line a[href$="?page=remove-kandinsky-theme"] {
	color: #d54e21;
}

li#wp-admin-bar-remove-theme a {
	background: #d54e21;
}

li#wp-admin-bar-remove-theme a:hover, li#wp-admin-bar-remove-theme a:active {
	background: #d54e21;
}

#adminmenu ul.wp-submenu li a[href$="?page=remove-kandinsky-theme"] {
	background: #d54e21;
}

#adminmenu ul.wp-submenu li a[href$="?page=remove-kandinsky-theme"]:hover, #adminmenu ul.wp-submenu li a[href$="?page=remove-kandinsky-theme"]:active {
	background: #d54e21;
}

.knd-confirm-remove-theme input.button-primary {
	margin-right: 20px;
}

.knd-remove-my-content-control {
	padding-bottom: 20px;
}

.knd-updated-successfully {
	font-weight: bold;
	font-size: 1.5em;
}

#knd-update-theme, .knd-spinner-update-button {
	width: 280px;
	display: inline-block;
	text-align: center;
}

.knd-spinner-update-button {
	padding-top: 3px;
}

.knd-spinner-update-button img {
	height: 18px;
}

.knd-updating-theme-steps p {
	float: none;
	clear: both;
	width: 400px;
}

.knd-updating-theme-steps .dashicons {
	margin-left: 20px;
	float: right;
}

.knd-updating-theme-steps .dashicons-warning {
	color: #ff3333;
}

.knd-updating-theme-steps .dashicons-yes {
	color: #47d147;
}

/*adjust SVG images when displayed inside media library column view*/
table.media .column-title .media-icon img[src*='.svg'] {
	width: 100%;
	height: auto;
}

.knd-kirki-notice {
	position: relative;
}

/* Admin Footer */
.knd-admin-footer {
	font-style: italic;
}

.knd-admin-footer:not(:first-child) {
	padding-left: 10px;
}

/** Events */
.knd-event-admin-schedule:not(:empty) {
	margin-bottom: 20px;
}

.knd-event-admin-schedule-group {
	background: #f0f0f1;
	padding: 20px;
	border: 1px solid #c3c4c7;
	border-radius: 2px;
}

.knd-event-admin-schedule-group + .knd-event-admin-schedule-group {
	margin-top: 20px;
}

.knd-event-admin-schedule-default {
	display: none;
}

.knd-event-admin-schedule-name {
	margin-bottom: 15px;
}

.knd-event-admin-schedule-list {
	margin-bottom: 15px;
}

.knd-event-admin-schedule-item {
	background-color: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-left: -10px;
	margin-right: -10px;
}

.knd-event-admin-schedule-item + .knd-event-admin-schedule-item {
	margin-top: 10px;
}

.knd-event-admin-schedule-times {
	margin-bottom: 10px;
}

.knd-event-admin-schedule .button-link-delete {
	float: right;
}

.dbem-kookings-fields {
	margin-bottom: 10px;
	counter-reset: field;
	position: relative;
}

.dbem-kookings-fields:empty {
	margin-bottom: 0;
}

.dbem-kookings-fields .ui-state-highlight {
	height: 40px;
}

.dbem-kookings-fields-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	counter-increment: field;
}

#em-options-form .dbem-kookings-fields-group input[type="text"] {
	width: auto;
	min-width: 300px;
	margin-right: 5px;
}

.dbem-kookings-fields-group + .dbem-kookings-fields-group {
	margin-top: 10px;
}

.dbem-kookings-fields-group:before {
	content: counter(field);
	position: absolute;
	top: 6px;
	right: 100%;
	margin-right: 5px;
	display: block;
	width: 15px;
	text-align: right;
}

.dbem-kookings-fields-group .drag-icons-group {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-right: 8px;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s;
	width: 20px;
	color: #135e96;
}

.dbem-kookings-fields-group .drag-icons-group .dashicons {
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	margin: 0 -10px;
	font-size: 12px;
}

.dbem-kookings-fields-group .drag-icons-group:hover {
	cursor: grab;
}

.dbem-kookings-fields-group .ui-sortable-helper {
	opacity: .7;
	cursor: grab;
	margin-top: 0;
}

.dbem-kookings-fields-group:hover .drag-icons-group {
	opacity: 1;
}
