/**
 * Customizer
 */

#customize-control-font_base > .wrapper > .font-size {
	order: 4;
}
.customize-control-kirki-generic textarea {
	border-color: #7e8993;
}

/* Color Picker */
.customize-control .wp-color-result-text {
	line-height: 28px !important;
}

/* Select2 */
.customize-control .select2-selection {
	border-color: #999;
	border-radius: 3px;
	min-height: 30px;
	background: #fff;
}
.customize-control .select2-selection .select2-selection__rendered {
	min-height: 28px;
	line-height: 28px;
	padding: 0 24px 0 8px;
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
}
.customize-control .select2-selection .select2-selection__arrow {
	display: none;
}

.select2-dropdown {
	border-color: #999;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: #999;
}
.select2-results__option {
	padding: 0;
}
.select2-results__option[role="option"] {
	padding: 3px 6px;
	margin-bottom: 0;
}
.select2-search__field {
	line-height: 1.4 !important;
}

/* Custom */
#customize-control-font_logo_header {
	margin-bottom: 0;
}

/* Header Select */
#customize-control-header_type label {
	display: block;
	width: 100%;
}
#customize-control-header_type label > img {
	display: block;
	width: 100%;
	height: auto;
}
#customize-control-header_type label:not(:last-child) {
	margin-bottom: 10px;
}
.customize-control-kirki-radio-image input:checked + label {
	box-shadow: 0 0 0 2px #00a0d2;
}
.customize-control-kirki-radio-image input:checked + label img {
	border: 0;
	box-shadow: none;
}

/* Divider */
.knd-customizer-divider {
	border-bottom: 1px dashed #838e97;
	margin: 8px -12px 0;
}
.knd-customizer-heading {
	display: block;
	color: #555d66;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 14px;
	padding: 10px 10px 11px 14px;
	margin: 8px -12px 0;
	line-height: 1.55;
	font-weight: 600;
}